.App {
  text-align: center;
}

.custom-form {
  padding: 1.2rem 0;
  background-color: #00bcd4;
}

.custom-input {
  padding: 0.3rem 0.8rem;
  border: #cccccc solid 1px;
}

.custom-input:focus {
  outline: 0;
  border-color: #009688;
}
.custom-btn {
  padding: 0.4rem 1.2rem;
  margin-left: 0.5rem;
  border: none;
  background-color: #009688;
  color: #fff;
  cursor: pointer;
}

.custom-btn:hover {
  background-color: #4db6ac;
}

.card {
  width: 25rem;
  padding: 1.2rem 0.4rem;
  background-color: #e0f2f1;
  margin: 0.5rem 0;
  border: solid 2px #00bcd4;
}

ul {
  width: fit-content;
  margin: auto;
  margin-top: 4rem !important;
  list-style: none;
}
